version: "3"

services:

  factoriogcp:
    image: ghcr.io/cfindlayisme/factorio-docker:latest-gcp
    container_name: factoriogcp
    ports:
      - "34197:34197/udp"
      - "25575:25575"
    restart: unless-stopped
    volumes:
      - /srv/factorio/data:/config
    environment:
      GCS_BUCKET: "bucket"
      GCS_BUCKET_PATH: "/factorio"
      RCON_PORT: "25575"
      RCON_PASSWORD: "therconpassword"
